<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <style>
        .container {
            position: relative;
            /* background-color: #ddd; */
        }
        .popup-book{
            position: absolute;
            top: 50%;  /* position the top  edge of the element at the middle of the parent */
            left: 50%; /* position the left edge of the element at the middle of the parent */
            transform: translate(-50%, -50%);
            text-align: center;
            width: 500px;
            height: 650px;
            background-color: rgb(255, 255, 255);
            display: none;
            border-radius: 5px;
        }
        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
        }
        .wrapper-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
        }
        /* .wrapper-body {
            
        }
        .wrapper-inner {

        } */
        ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

.labelcheck {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.labelcheck:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.labelcheck img {
  height: 80px;
  width: 80px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .labelcheck {
  border-color: #ddd;
}

:checked + .labelcheck:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + .labelcheck img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
.popup-book1{
            position: absolute;
            top: 50%;  /* position the top  edge of the element at the middle of the parent */
            left: 50%; /* position the left edge of the element at the middle of the parent */
            transform: translate(-50%, -50%);
            text-align: center;
            width: 650px;
            height: 500px;
            background-color: rgb(255, 255, 255);
            display: none;
            border-radius: 15px;
        }
        .wrapper1 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
        }
        .wrapper-overlay1 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
        }
        #submitform {
            background-color: #b2e2f0;
            border-radius: 5px;
            border: none;
            height: 50px;
            padding: 10px;
            font-size: 20px;
            font-weight: 500;
            color: white;
            position: absolute;
            left: 30%;
        }
        .food-infor, .food-item {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;
            background: #ddf2fd;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    </style>
    <title>Khach hang</title>
</head>
<body>
    <!-- <div class=""><%= data[0].id %></div> -->

    <!-- <% for(let i=0; i < data.length; i++) { %>
        <% if(data[i].category == 'Breakfast'){ %>
            <div class="food-item col">
                <img src="/img/Images/<%= data[i].name %>.png" width="100px">
                <div class="food-infor">
                    <label><%= data[i].name %></label>
                    <div class="food-price"><%= data[i].price %></div>
                </div>
            </div>
          <% } %>
    <% } %> -->
    
    <section class="header">
        <img class="LogoImg" src="/img/Images/Logo.png">

        <nav>
            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Menu</a></li>
                    <li><a href="/client/clientBook" id="client-book">Order</a></li>
                    <li><button class="button-74" role="button" id="adbtn"  style="background: none; border: none; text-decoration: none;
                        font-family: 'Inria Sans', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 34px;
                        text-align: center;
                        color: white;
                        cursor: pointer;">Admin</button></li>
                    <li>
                        <div class="cart">
                            <a href="">
                                <img src="/img/Images/cart.png" width="40" height="40">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="textBox">
            <h1 style="
            font-family: 'Indie Flower', cursive; 
            font-weight: 400;
            font-size: 120px;
            line-height: 200px;
            text-align: center;
            color: white;">Let's Eat</h1>
        </div>
        
        <div>
            <div class="col1">
                <p>Meet the good taste <br> today!</p>
                
                <input class="Search" type="text" placeholder="What's your eating mood today?">
                <img class="Food2" src="/img/Images/food1.png">
            </div>
            <img class="Food" src="/img/Images/food1.png">
        </div>
        
        <div class="Back">
            <a href="/">
                <img src="/img/Images/back.png">
            </a>
        </div>
    </section>
    <!-- <h1 id="test">Client</h1>
    <a href="/">Back</a>
    <a href="">Menu</a> -->
    <!-- <a href="/client/clientBook" id="client-book">Dat truoc</a> -->

    <div class="container">
        <!-- <div class="row" style="display:none">
            <div class="food-item col">
                <img src="/img/Food1.jpg" width="100%">
                <div class="food-infor">
                    <div class="food-name">Food1</div>
                    <div class="food-price">20.000</div>
                </div>
            </div>
            <div class="food-item col">2</div>
            <div class="food-item col">3</div>
        </div>
        <div class="row" style="display:none">
            <div class="food-item col">4</div>
            <div class="food-item col">5</div>
            <div class="food-item col">6</div>
        </div> -->
        
        

    <section class="Menu">
        <h1 class="OurMenu">Our menu</h1>

        <div class="roww">
            <div>
                <button class="Breakfast" id="BreakfastButton" onclick="showBreakfastMenu()" ></button>
            </div>

            <div>
                <button class="Lunch" id="LunchButton" onclick="showLunchMenu()"></button>
            </div>

            <div>
                <button class="FastFood" id="FastfoodButton" onclick="showFastfoodMenu()"></button>
            </div>

            <div>
                <button class="Drink" id="DrinkButton" onclick="showDrinkMenu()"></button>
            </div>

            <div>
                <button class="Dessert" id="DessertButton" onclick="showDessertMenu()"></button>
            </div>
        </div>

        <div id="MenuDisplay">
            <div id="SpecialMenu">
                <div class="MenuTitle">
                    <h1>Special food this week</h1>
                </div>
                
                <div class="row2">
                    <div class='food-item'>
                        <img src="/img/Images/<%= data[0].name %>.png">
                        <div class="food-name"><%= data[0].name %></div>
                        <div class="food-price"><%= data[0].price %></div>
                    </div>
                    <div class='food-item'>
                        <img src="/img/Images/<%= data[1].name %>.png">
                        <div class="food-name"><%= data[1].name %></div>
                        <div class="food-price"><%= data[1].price %></div>
                    </div>
                    <div class='food-item'>
                        <img src="/img/Images/<%= data[2].name %>.png">
                        <div class="food-name"><%= data[2].name %></div>
                        <div class="food-price"><%= data[2].price %></div>
                    </div>                 
                </div>
            </div>

            <div id="BreakfastMenu" style="display: none;">
                <div class="MenuTitle">
                    <h1>Breakfast</h1>
                </div>
                
                <div class="row2">
                    <% for(let i=0; i < data.length; i++) { %>
                        <% if(data[i].category == 'Breakfast'){ %>
                            <div class="food-item col">
                                <img src="/img/Images/<%= data[i].name %>.png">
                                <div class="food-infor">
                                    <label class="food-name"><%= data[i].name %></label>
                                    <div class="food-price"><%= data[i].price %></div>
                                </div>
                            </div>
                          <% } %>
                    <% } %>                  
                </div>

                <button class="BackButton2" onclick="backToHome()"></button>
            </div>

            <div id="LunchMenu" style="display: none;">
                <div class="MenuTitle">
                    <h1>Lunch</h1>
                </div>

                <div class="row2">
                    <% for(let i=0; i < data.length; i++) { %>
                        <% if(data[i].category == 'Lunch'){ %>
                            <div class="food-item col">
                                <img src="/img/Images/<%= data[i].name %>.png">
                                <div class="food-infor">
                                    <label class="food-name"><%= data[i].name %></label>
                                    <div class="food-price"><%= data[i].price %></div>
                                </div>
                            </div>
                          <% } %>
                    <% } %>                
                </div>

                <button class="BackButton2" onclick="backToHome()"></button>
            </div>

            <div id="FastfoodMenu" style="display: none;">
                <div class="MenuTitle">
                    <h1>Fast food</h1>
                </div>

                <div class="row2">
                    <% for(let i=0; i < data.length; i++) { %>
                        <% if(data[i].category == 'Fast food'){ %>
                            <div class="food-item col">
                                <img src="/img/Images/<%= data[i].name %>.png">
                                <div class="food-infor">
                                    <label class="food-name"><%= data[i].name %></label>
                                    <div class="food-price"><%= data[i].price %></div>
                                </div>
                            </div>
                          <% } %>
                    <% } %>                 
                </div>

                <button class="BackButton2" onclick="backToHome()"></button>
            </div>

            <div id="DrinkMenu" style="display: none;">
                <div class="MenuTitle">
                    <h1>Drink</h1>
                </div>

                <div class="row2">
                    <% for(let i=0; i < data.length; i++) { %>
                        <% if(data[i].category == 'Drink'){ %>
                            <div class="food-item col">
                                <img src="/img/Images/<%= data[i].name %>.png">
                                <div class="food-infor">
                                    <label class="food-name"><%= data[i].name %></label>
                                    <div class="food-price"><%= data[i].price %></div>
                                </div>
                            </div>
                          <% } %>
                    <% } %>                  
                </div>

                <button class="BackButton2" onclick="backToHome()"></button>
            </div>

            <div id="DessertMenu" style="display: none;">
                <div class="MenuTitle">
                    <h1>Dessert</h1>
                </div>

                <div class="row2">
                    <% for(let i=0; i < data.length; i++) { %>
                        <% if(data[i].category == 'Dessert'){ %>
                            <div class="food-item col">
                                <img src="/img/Images/<%= data[i].name %>.png">
                                <div class="food-infor">
                                    <label class="food-name"><%= data[i].name %></label>
                                    <div class="food-price"><%= data[i].price %></div>
                                </div>
                            </div>
                          <% } %>
                    <% } %>                  
                </div>

                <button class="BackButton2" onclick="backToHome()"></button>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="wrapper">
        <div class="wrapper-overlay"></div>
        <div class="wrapper-body">
            <form id="buyform" action="addcount" method="POST">

                <div class="popup-book">
                    <h3 class="OurMenu" style="margin: 0">Mua hàng</h3>
                    <div class="food-name-check" style="font-size: 35px; color: #b2e2f0"></div>
                    <input name="name" id="food-name-input" style="display:none">
                    <div class="food-price-check" style="font-size: 30px; color: #b2e2f0"></div>
                    <input name="price" id="food-price-input" style="display:none">
                    <ul id="pay-method" style="display: none; margin: 0;">
                        <li>
                            <input type="radio" id="myCheckbox1" name="method" value="Momo"/>
                            <label for="myCheckbox1" class="labelcheck"><img src="/img/momoicon.png" /></label>
                        </li>
    
                        <li>
                            <input type="radio" id="myCheckbox2" name="method" value="Viettel Pay"/>
                            <label for="myCheckbox2" class="labelcheck"><img src="/img/viettelpayicon.png" /></label>
                        </li>
    
                        <li>
                            <input type="radio" id="myCheckbox3" name="method" value="Internet Banking"/>
                            <label for="myCheckbox3" class="labelcheck"><img src="/img/bankingicon.png" /></label>
                        </li>
                    </ul>
                    <h2 id="pay"></h2>
                    <div id="number"></div>
                    <img id="image">
                    <div class="">Hoặc thanh toán qua web</div>
                    <input type="submit" value="Xác nhận thanh toán" id="submitform" form="buyform" style="display:none">
                    <!-- <input type="submit" value="Xác nhận thanh toán" id="submitform" form="buyform" style="display:none" > -->
                </div>

            </form>
            
        </div>
    </div>
    </div>
</section>
<!-- <h1 class="">Bạn là: </h1> -->
<!-- <form action="/client" method="POST">
    <input id="client" name="client" value="Khách hàng" type="submit">
</form> -->
<!-- <form action="/ad" method="POST">
    <input id="ad" name="ad" value="Quan tri vien" type="submit">
</form> -->
<!-- <button><a href="/client" id="clientbtn">Khách hàng</a></button> -->
<!-- <button id="adbtn">Quản trị viên</button> -->
<div class="wrapper1">
    <div class="wrapper-overlay1"></div>
    <div class="wrapper-body1">
        <div class="popup-book1">
            <!-- <h3 class="">Mua hàng</h3> -->
            <div class="food-name-check"></div>
            <div class="food-price-check"></div>
            <ul id="pay-method" style="display: none">
                <li>
                    <input type="radio" id="myCheckbox1" name="method" value="Momo"/>
                    <label for="myCheckbox1" class="labelcheck"><img src="/img/momoicon.png" /></label>
                </li>

                <li>
                    <input type="radio" id="myCheckbox2" name="method" value="Viettel Pay"/>
                    <label for="myCheckbox2" class="labelcheck"><img src="/img/viettelpayicon.png" /></label>
                </li>

                <li>
                    <input type="radio" id="myCheckbox3" name="method" value="Internet Banking"/>
                    <label for="myCheckbox3" class="labelcheck"><img src="/img/bankingicon.png" /></label>
                </li>
            </ul>


            <h2 id="pay"></h2>
            <div id="number"></div>
            <img id="image">

            <section class="vh-100 bg-image" style="display: none;  width:100%;" id="signup">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                  <div class="container h-100">
                    <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
                      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; width: 625px;">
                          <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Đăng ký</h2>
              
                            <form action="createAccount" method="POST">
              
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="username" />
                                <label class="form-label" for="form3Example1cg">Username</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" />
                                <label class="form-label" for="form3Example3cg">Email</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password" />
                                <label class="form-label" for="form3Example4cg">Password</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" name="retype" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                              </div>
              
                              <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                <label class="form-check-label" for="form2Example3g">
                                  I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                </label>
                              </div>
              
                              <div class="d-flex justify-content-center">
                                <button type="submit"
                                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng ký</button>
                              </div>
              
                              <p class="text-center text-muted mt-5 mb-0">Đã có tài khoản? <input id="btntologin" type="button"
                                  class="fw-bold text-body" value='Đăng nhập'/></p>
              
                            </form>
              
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
              </section>
            
            
              <section class="vh-100 bg-image" id="login">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                  <div class="container h-100">
                    <!-- <div class="row d-flex justify-content-center align-items-center h-100" style="width: 600px;"> -->
                      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; width: 625px;">
                          <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Đăng nhập</h2>
              
                            <form action="/verify" method="POST">
            
                              <div class="form-outline mb-4">
                                <input type="text" id="form3Example3cg" class="form-control form-control-lg" name='username'/>
                                <label class="form-label" for="form3Example3cg">Username</label>
                              </div>
              
                              <div class="form-outline mb-4">
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password" />
                                <label class="form-label" for="form3Example4cg">Password</label>
                              </div>
            
                              <div class="d-flex justify-content-center">
                                <button type="submit" 
                                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng nhập</button>
                              </div>
              
                              <p class="text-center text-muted mt-5 mb-0">Chưa có tài khoản? <input id="btntosignup"
                                  class="fw-bold text-body" value='Đăng ký' type="button"/></p>
              
                            </form>
              
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
              </section>
        </div>
        
    </div>
</div>



<script>
    document.getElementById('adbtn').onclick = () => {
        document.getElementsByClassName('popup-book1')[0].style.display = 'block';
        document.getElementsByClassName('wrapper-overlay1')[0].style.display = 'block';
        document.getElementsByClassName('wrapper1')[0].style.display = 'block';
    }
    document.getElementsByClassName('wrapper-overlay1')[0].onclick = () => {
        document.getElementsByClassName('wrapper-overlay1')[0].style.display = 'none';
        document.getElementsByClassName('wrapper1')[0].style.display = 'none';
    }
    document.getElementById('btntosignup').onclick = () => {
        document.getElementById('signup').style.display = 'block';
        document.getElementById('login').style.display = 'none';
        document.getElementsByClassName('popup-book1')[0].style.height = '700px';
    }
    document.getElementById('btntologin').onclick = () => {
        document.getElementById('signup').style.display = 'none';
        document.getElementById('login').style.display = 'block';
        document.getElementsByClassName('popup-book1')[0].style.height = '500px';
    }
</script>
    <script src="/js/test.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        console.log(document.getElementsByClassName('food-item').length)
        document.getElementById('client-book').onclick = () => {
            document.getElementsByClassName('popup-book')[0].style.display = 'block';
        }
        var foodCount = document.getElementsByClassName('food-item').length;
        for (let i = 0; i < foodCount; i++) {
            document.getElementsByClassName('food-item')[i].onclick = () => {
                console.log(i);
                console.log(document.getElementsByClassName('food-name')[i])
                document.getElementsByClassName('popup-book')[0].style.display = 'block';
                document.getElementById('pay-method').style.display = 'block';
                document.getElementById('buyform').style.display = 'block';
                document.getElementsByClassName('wrapper-overlay')[0].style.display = 'block';
                document.getElementsByClassName('wrapper')[0].style.display = 'block';
                document.getElementsByClassName('food-name-check')[0].innerHTML = document.getElementsByClassName('food-name')[i].innerHTML;
                document.getElementsByClassName('food-price-check')[0].innerHTML = document.getElementsByClassName('food-price')[i].innerHTML;
                document.getElementById('food-name-input').value = document.getElementsByClassName('food-name')[i].innerHTML;
                document.getElementById('food-price-input').value = document.getElementsByClassName('food-price')[i].innerHTML;
            }
        }
        document.getElementsByClassName('wrapper-overlay')[0].onclick = () => {
            document.getElementsByClassName('wrapper-overlay')[0].style.display = 'none';
            document.getElementsByClassName('wrapper')[0].style.display = 'none';
        }
        for (let i = 0; i < 3; i++) {
            document.querySelectorAll('input[type=radio]')[i].onclick = () => {
                document.getElementById('pay').innerHTML = document.querySelectorAll('input[type=radio]')[i].value;
                document.getElementById('number').innerHTML = "0123456789";
                if (document.querySelectorAll('input[type=radio]')[i].value == "Momo") {
                    document.getElementById('image').src = '/img/momo.jpg';
                    document.getElementById('image').style.width = "150px";
                    document.getElementById('submitform').style.display = 'block';
                }
                else if (document.querySelectorAll('input[type=radio]')[i].value == "Viettel Pay") {
                    document.getElementById('image').src = '/img/viettelpay.png';
                    document.getElementById('image').style.width = "150px";
                    document.getElementById('submitform').style.display = 'block';
                }
                else {
                    document.getElementById('image').src = '/img/qrcode-default.png';
                    document.getElementById('image').style.width = "150px";
                    document.getElementById('submitform').style.display = 'block';
                }
            }
        }
        // document.getElementById('add-food').onclick = () => {
        //     var a = document.createElement('div');
        //     var atext = document.createTextNode(document.getElementById('food1').value);
        //     a.appendChild(atext);
        //     document.getElementsByClassName('check-food-book')[0].appendChild(a);
            
        //     var a = document.createElement('div');
        //     var atext = document.createTextNode(document.getElementById('food1').value);
        //     a.appendChild(atext);
        //     document.getElementsByClassName('check-food-book')[0].appendChild(a);

        //     // a = document.createElement('button');
        //     // a.className = 'checkout';
        //     // atext = document.createTextNode('Thanh Toán');
        //     // a.appendChild(atext);
        //     // document.getElementsByClassName('check-food-book')[0].appendChild(a);
        // }
    </script>
</body>
</html>