<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="" style="font-size: 30px; font-weight: 500;">Báo cáo tổng kết tháng: <%= monthdata %></div>
    <table class="table table-bordered" style="width: 50%">
        <thead>
            <tr>
                <th scope="col">Ngày</th>
                <th scope="col">Doanh thu</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(let i=0; i < dataDate.length; i++) { %>
                <tr>
                    <td scope="row"><%= dataDate[i].date %></td>
                    <td><%= dataTotalDay[i].totalday %> VND</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <div class="" style="font-size: 20px; font-weight: 500;">Tổng doanh thu tháng <%= monthdata %>: <%= totaldata %> VND</div>
</body>
</html>